a{
    text-decoration: none;
}
body{
   /* background-image: url(facade-modern-apartment-building-exterior-architecture-design-concept_185094-6589.jpg);*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: centre;
    margin-top: 50px;
}
#mainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}
#tenant_record{
    font-family: roboto,arial;
    font-size: 60px;
    color: goldenrod;
    margin-bottom: 30px;
    margin-top: 10px;
}
#back{
    border: solid;
    border-color: goldenrod;
    border-width: 2px;
    color: goldenrod;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: roboto,arial;
    transition: .6s;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
}
#back:hover{
    background-color: goldenrod;
    color: white;
}
#back:active{
    background-color: white;
    color: goldenrod;
}
#row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}